@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-banner-text-color: var(--ds-basic-color-texticon-default, #{$ds-basic-color-texticon-default});
  --ds-auro-banner-disclaimer-text-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
  --ds-auro-banner-title-text-color: var(--ds-basic-color-texticon-accent1, #{$ds-basic-color-texticon-accent1});
  --ds-auro-banner-icon-container-color: var(--ds-basic-color-surface-neutral-medium, #{$ds-basic-color-surface-neutral-medium});
  --ds-auro-banner-wrapper-container-color: var(--ds-basic-color-surface-inverse, #{$ds-basic-color-surface-inverse});
  --ds-auro-banner-wrapper-border-color: var(--ds-basic-color-border-default, #{$ds-basic-color-border-default});
}
